/* Player attachments list */

.player-attachments-list {
    position: absolute;
    bottom: 80px;
    right: 8px;
    background: var(--player-menu-background);
    padding-top: 8px;
    padding-bottom: 8px;
    max-height: calc(100% - 80px - 56px);
    min-width: 240px;
    max-width: calc(100% - 16px);
    overflow-y: auto;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.player-attachments-list.hidden {
    display: none;
}

.player-attachment-link {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    width: 100%;
}

.attachment-icon-link {
    width: 42px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.attachment-name {
    flex: 1;
    font-weight: bold;
    text-decoration: underline;
    padding-right: 0.5rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.player-attachment-link:hover {
    background: var(--hover-color);
}
