/* Style for media change preview */

.player-media-change-preview {
    position: relative;
    display: flex;
    width: 100%;
}

.player-min .player-media-change-preview {
    font-size: small;
}

.player-media-change-preview-details {
    height: 114px;
    width: calc(100% - 114px);
    padding-left: 0.5rem;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    line-break: anywhere;
}

.player-media-change-preview-title {
    font-weight: bold;
}

.player-media-change-preview-type {
    padding-top: 0.5rem;
    font-size: small;
}

.player-min .player-media-change-preview-type {
    font-size: x-small;
}
