/* Style for media change preview */

.player-media-change-preview {
    position: relative;
    display: flex;
    width: 100%;
}

.player-min .player-media-change-preview {
    font-size: small;
}

.player-media-change-preview-thumbnail {
    position: relative;
    width: 114px;
    height: 114px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-media-change-preview-thumbnail img {
    width: 100%;
    height: 100%;
}

.player-media-change-preview-details {
    height: 114px;
    width: calc(100% - 114px);
    padding-left: 0.5rem;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    line-break: anywhere;
}

.player-media-change-preview-no-thumbnail {
    font-size: 24px;
    color: var(--placeholder-no-thumbnail-color);
}

.player-min .player-media-change-preview-no-thumbnail {
    font-size: 16px;
}

.player-media-change-preview-title {
    font-weight: bold;
}

.player-media-change-preview-type {
    padding-top: 0.5rem;
    font-size: small;
}

.player-min .player-media-change-preview-type {
    font-size: x-small;
}

.preview-thumb-tag {
    position: absolute;
    background: var(--bg-opaque-75);
    bottom: 0.25rem;
    right: 0.25rem;
    font-size: small;
    padding: 0.25rem;
}