/* Player context menu */

.player-context-menu {
    position: fixed;
    background: var(--player-menu-background);
    overflow: auto;
    z-index: 10;
    min-width: 380px;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    opacity: 1;
    transition: opacity 0.1s;
}

.player-context-menu:focus {
    outline: none;
}

.player-min .player-context-menu {
    min-width: fit-content;
}

.player-context-menu.hidden {
    transition:
        opacity 0.1s,
        visibility 0.1s;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.full-screen .player-context-menu {
    z-index: 110;
}

.player-context-menu-table {
    width: 100%;
    border-spacing: 0;
    /* Removes the cell spacing via CSS */
    border-collapse: collapse;
    /* Optional - if you don't want to have double border where cells touch */
}

.player-context-menu-table td {
    padding: 0.8rem 0.75rem;
    text-align: left;
    vertical-align: middle;
    white-space: nowrap;
}

.player-context-menu-table .tr-button {
    cursor: pointer;
}

.player-context-menu-table .tr-button:hover {
    background: var(--hover-color);
}

.player-context-menu-table .td-right {
    text-align: right;
}

.player-context-menu-table .check-uncheck {
    visibility: hidden;
}

.player-context-menu-table .icon-config {
    width: 24px;
    margin-right: 0.5rem;
}

.context-entry-title {
    font-size: medium;
}
