/* Media description widget style */

.media-description-body {
    padding: 0 1rem;
}

.media-description-body:focus {
    outline: none;
}

.media-description-body.editing {
    width: 100%;
    height: 100%;
    padding: 0 0.5rem;
    padding-right: 0;
}

.media-description-edit {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    width: 100%;
    height: 100%;
}

.media-description-edit .form-control.form-textarea {
    resize: none;
    width: 100%;
    height: 100%;
}

.media-description-view {
    font-size: var(--base-font-size);
    line-height: calc(var(--base-font-size) * 1.5);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    word-wrap: break-word;
    white-space: pre-wrap;
}

.widget-settings table {
    width: 100%;
}

.widget-settings td {
    padding: 0.5rem;
}

.btn.btn-read {
    margin-left: 0.25rem;
}

.media-description-view.reading .media-description-paragraph {
    cursor: pointer;
}

.media-description-view.reading .media-description-paragraph:not(.reading):hover {
    background-color: var(--hover-color);
}

.media-description-view.reading .media-description-paragraph.reading {
    background-color: var(--selected-color);
}
