/* Player editor style */

@keyframes player-media-editor-anim {
    0% {
        visibility: hidden;
    }

    100% {
        visibility: visible;
    }
}

.player-media-editor {
    position: absolute;
    top: 57px;
    left: 0;
    width: 100%;
    height: calc(100% - 57px);
    overflow-y: scroll;
    scrollbar-gutter: stable;
    background: var(--player-editor-background);
    color: var(--theme-fg-color);
    padding-left: 1rem;
    padding-bottom: 1rem;
    animation-name: player-media-editor-anim;
    animation-duration: 0.1s;
}

.player-top-bar.expanding .player-media-editor {
    overflow-y: hidden;
}

.player-media-editor:focus {
    outline: none;
}

.player-min .player-media-editor {
    top: 32px;
    height: calc(100% - 32px);
}

.form-group-thumbnail {
    max-width: 100%;
    width: 252px;
    height: 252px;
    border: solid 1px var(--theme-border-color);
}

.player-editor-sub-content {
    padding-top: 1rem;
}

.player-editor-sub-content.content-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.row-general-left {
    width: calc(100% - 252px - 2rem);
    padding-right: 1rem;
}

.row-general-right {
    width: calc(252px + 2rem);
    padding-left: 1rem;
    padding-right: 1rem;
}

@media (max-width: 600px) {
    .row-general-left,
    .row-general-right {
        width: 100%;
    }
}

.row-100p {
    width: 100%;
}
