/* Extended description style */

.modal-body-textarea-container {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0.25rem;
}

.modal-body-textarea-container .form-control.form-textarea.no-resize {
    width: 100%;
    height: 100%;
}

.extended-description-container {
    padding-right: 1rem;
    padding-left: 1rem;
    font-size: 18px;
    line-height: 1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    word-wrap: break-word;
}
