/* Extended description widget style */

.extended-description-body {
    padding: 1rem;
}

.extended-description-edit textarea {
    resize: vertical;
    width: 100%;
    min-height: 340px;
}

.extended-description-view {
    font-size: var(--base-font-size);
    line-height: calc(var(--base-font-size) * 1.5);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    word-wrap: break-word;
}
