/* Image notes style */

.image-notes-container {
    position: absolute;
}

.image-notes-container.edit-active {
    cursor: text;
}

.image-notes {
    position: absolute;
    display: flex;
}

.image-notes:focus {
    outline: none;
}

.image-notes-container.edit-active .image-notes {
    cursor: move;
    border: solid 2px var(--theme-border-color);
    background: var(--player-controls-background);
}

.image-notes-container.always-visible .image-notes {
    border: solid 2px var(--theme-border-color);
    background: var(--player-controls-background);
}

.image-notes-container.edit-active .image-notes.selected {
    background: var(--player-feedback-background);
    z-index: 2;
}

.image-notes.creating {
    border: solid 2px var(--theme-border-color);
    background: var(--player-controls-background);
}

.image-notes-container.add-active .image-notes {
    pointer-events: none;
}

.image-notes .resize {
    position: absolute;
    --resize-size: 8px;
    --resize-pos: -4px;
}

.image-notes .resize-left {
    top: 0;
    left: var(--resize-pos);
    height: 100%;
    width: var(--resize-size);
    cursor: w-resize;
}

.image-notes .resize-right {
    top: 0;
    right: var(--resize-pos);
    height: 100%;
    width: var(--resize-size);
    cursor: e-resize;
}

.image-notes .resize-top {
    top: var(--resize-pos);
    right: 0;
    height: var(--resize-size);
    width: 100%;
    cursor: n-resize;
}

.image-notes .resize-bottom {
    bottom: var(--resize-pos);
    right: 0;
    height: var(--resize-size);
    width: 100%;
    cursor: n-resize;
}

.image-notes .resize-corner-top-left {
    top: var(--resize-pos);
    left: var(--resize-pos);
    height: var(--resize-size);
    width: var(--resize-size);
    cursor: nw-resize;
}

.image-notes .resize-corner-top-right {
    top: var(--resize-pos);
    right: var(--resize-pos);
    height: var(--resize-size);
    width: var(--resize-size);
    cursor: ne-resize;
}

.image-notes .resize-corner-bottom-left {
    bottom: var(--resize-pos);
    left: var(--resize-pos);
    height: var(--resize-size);
    width: var(--resize-size);
    cursor: sw-resize;
}

.image-notes .resize-corner-bottom-right {
    bottom: var(--resize-pos);
    right: var(--resize-pos);
    height: var(--resize-size);
    width: var(--resize-size);
    cursor: se-resize;
}

.image-notes-text-edit {
    cursor: default;
    position: absolute;
    width: calc(100% - 8px);
    min-width: 10rem;
    background: var(--player-editor-background);
    padding: 0.25rem;
}

.image-notes-text-edit.top {
    top: calc(100% + 0.5rem);
}

.image-notes-text-edit.bottom {
    bottom: calc(100% + 0.5rem);
}

.image-notes-text-edit.left {
    left: 4px;
}

.image-notes-text-edit.right {
    right: 4px;
}

.image-notes-text-edit:focus {
    outline: none;
}

.image-notes-hover {
    display: block;
    background: var(--player-editor-background);
    position: absolute;
    width: auto;
    white-space: nowrap;
    min-width: fit-content;
    padding: 0.5rem;
    height: auto;
    text-align: center;
}
