/* Image player */

.image-scroller {
    overflow: auto;
    position: absolute;
    top: 56px;
    bottom: 56px;
    height: auto;
    left: 0;
    width: 100%;
    cursor: move;
}

.image-scroller.cursor-hidden {
    cursor: none;
}

.image-player.bg-black .image-scroller img {
    background: black;
}

.image-player.bg-white .image-scroller img {
    background: white;
}

.image-scroller img {
    position: absolute;
    pointer-events: none;
}

.no-controls .image-scroller {
    top: 0;
    bottom: 0;
}

.image-player .player-tooltip {
    bottom: 64px;
}

.image-prefetch-container {
    position: absolute;
    visibility: hidden;
    pointer-events: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* Scroll bar */

.image-scroller::-webkit-scrollbar {
    width: 5px;
    height: 3px;
}

/* Track */

.image-scroller::-webkit-scrollbar-track {
    background: #bdbdbd;
}

/* Handle */

.image-scroller::-webkit-scrollbar-thumb {
    background: #757575;
}
