/* Image player */

.image-player {
    background: var(--player-bg-color);
    color: var(--theme-fg-color);

    display: block;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.image-player.no-controls {
    cursor: none;
}

.image-player.full-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}

.image-scroller {
    overflow: auto;
    position: absolute;
    top: 56px;
    bottom: 56px;
    height: auto;
    left: 0;
    width: 100%;
    cursor: move;
}

.image-scroller.cursor-hidden {
    cursor: none;
}

.image-player.bg-black .image-scroller {
    background: black;
}

.image-player.bg-white .image-scroller {
    background: white;
}

.player-min .image-scroller {
    top: 32px;
    bottom: 32px;
}

.image-scroller img {
    position: absolute;
    pointer-events: none;
}

.no-controls .image-scroller {
    top: 0;
    bottom: 0;
}

.player-min.no-controls .image-scroller {
    top: 0;
    bottom: 0;
}

.image-player .player-tooltip {
    bottom: 64px;
}

.image-player.player-min .player-tooltip {
    bottom: 40px;
}

.image-prefetch-container {
    position: absolute;
    visibility: hidden;
    pointer-events: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* Scroll bar */

.image-scroller::-webkit-scrollbar {
    width: 5px;
    height: 3px;
}

/* Track */

.image-scroller::-webkit-scrollbar-track {
    background: #bdbdbd;
}

/* Handle */

.image-scroller::-webkit-scrollbar-thumb {
    background: #757575;
}
