/* Player top bar */

.player-top-bar {
    position: absolute;
    background-color: var(--player-controls-background);
    transition: opacity 0.3s;
    opacity: 1;
    color: var(--theme-fg-color);
    overflow: hidden;

    height: 56px;
    --initial-top-bat-height: 56px;

    top: 0;
    left: 0;
    width: 100%;
}

.player-top-bar:focus {
    outline: none;
}

.player-min .player-top-bar {
    height: 32px;
    --initial-top-bat-height: 32px;
}

.player-top-bar.album-expand,
.player-min .player-top-bar.album-expand {
    max-width: 500px;
    width: 100%;
    height: 100%;
}

@keyframes player-top-bar-expand {
    0% {
        height: var(--initial-top-bat-height);
    }

    100% {
        height: 100%;
    }
}

@keyframes player-top-bar-contract {
    0% {
        height: 100%;
    }

    100% {
        height: var(--initial-top-bat-height);
    }
}

.player-top-bar.contracting {
    animation-name: player-top-bar-contract;
    animation-duration: 0.1s;
}

.player-top-bar.expanded,
.player-min .player-top-bar.expanded {
    width: 100%;
    animation-name: player-top-bar-expand;
    animation-duration: 0.1s;
    height: 100%;
}

.player-top-bar.hidden {
    opacity: 0;
    pointer-events: none;
}

.player-title-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 57px;
    display: flex;
}

.expanded .player-title-container {
    background: var(--player-editor-background);
}

.player-min .player-title-container {
    height: 32px;
}

.player-title {
    width: calc(100% - 48px);
    height: 100%;
    display: flex;
    align-items: center;
}

.player-min .player-title {
    width: calc(100% - 28px);
}

.player-title div {
    width: 100%;
    padding-right: 8px;
    padding-left: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    font-size: large;
}

.player-min .player-title div {
    font-size: small;
    padding-right: 4px;
    padding-left: 4px;
}

.full-screen .with-album .player-title {
    width: calc(100% - 96px);
}

.player-min.full-screen .with-album .player-title {
    width: calc(100% - 56px);
}

.player-title-left {
    display: none;
}

.full-screen .with-album .player-title-left {
    width: 48px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
}

.player-min.full-screen .with-album .player-title-left {
    width: 28px;
}

.player-title-right {
    width: 48px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
}

.player-min .player-title-right {
    width: 28px;
}