/* Player config */

.player-config {
    position: absolute;
    bottom: 80px;
    right: 8px;
    background: var(--player-menu-background);
    padding-top: 8px;
    padding-bottom: 8px;
    max-height: calc(100% - 80px - 56px);
    min-width: 240px;
    max-width: calc(100% - 16px);
    overflow-y: auto;
}

.player-config.hidden {
    display: none;
}

.player-config table {
    width: 100%;
    border-spacing: 0;
    /* Removes the cell spacing via CSS */
    border-collapse: collapse;
    /* Optional - if you don't want to have double border where cells touch */
}

.player-config table td {
    padding: 0.75rem 1rem;
    text-align: left;
    vertical-align: middle;
}

.player-config .tr-button {
    cursor: pointer;
}

.player-config .arrow-config {
    margin-left: 0.5rem;
}

.player-config .icon-config {
    margin-right: 0.5rem;
    width: 24px;
}

.player-config .tr-button:hover {
    background: var(--hover-color);
}

.player-config .td-right {
    text-align: right;
}

.player-config .check-uncheck {
    visibility: hidden;
}

/* Custom sizes */

.custom-size-row {
    white-space: nowrap;
    text-align: center !important;
}

.custom-size-input {
    width: 6rem;
}

.custom-size-unit {
    margin-left: 0.5rem;
}
