/* Style for subtitles */

.player-subtitles-container {
    pointer-events: none;
    position: absolute;
    left: 0;
    bottom: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-subtitles-container.controls-hidden {
    bottom: 0;
}

.player-subtitles-container-inner {
    padding: 1rem;
    text-align: center;
}

.player-subtitles {
    display: inline;
    color: var(--theme-fg-color);
    padding: 0.5rem;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    --base-subtitles-section: 0.035;
    --base-subtitles-size: calc((100vh - 56px - 56px) * var(--base-subtitles-section));
    --subtitles-size-multiplier: 1;
    font-size: calc(var(--base-subtitles-size) * var(--subtitles-size-multiplier));
}

.full-screen .player-subtitles {
    --base-subtitles-size: calc(100vh * var(--base-subtitles-section));
}

@media (max-height: 650px) {
    .player-subtitles {
        --base-subtitles-size: 20px;
    }
    .full-screen .player-subtitles {
        --base-subtitles-size: 22px;
    }
}

.player-subtitles-bg-0 .player-subtitles {
    -webkit-text-stroke: thick var(--bg-opaque-100);
    paint-order: stroke fill;
    text-shadow: none;
}

.player-subtitles.player-subtitles-s {
    --subtitles-size-multiplier: 0.75;
}

.player-subtitles.player-subtitles-m {
    --subtitles-size-multiplier: 1;
}

.player-subtitles.player-subtitles-l {
    --subtitles-size-multiplier: 1.5;
}

.player-subtitles.player-subtitles-xl {
    --subtitles-size-multiplier: 2;
}

.player-subtitles.player-subtitles-xxl {
    --subtitles-size-multiplier: 2.5;
}

.player-subtitles-bg-0 {
    background: transparent;
}

.player-subtitles-bg-25 {
    background: var(--bg-opaque-25);
}

.player-subtitles-bg-50 {
    background: var(--bg-opaque-50);
}

.player-subtitles-bg-75 {
    background: var(--bg-opaque-75);
}

.player-subtitles-bg-100 {
    background: var(--bg-opaque-100);
}
