/* Time slices editor helper */

.time-slices-edit-helper-container {
    position: absolute;

    right: 0.5rem;

    top: calc(56px + 0.5rem);
    bottom: 76px;

    width: calc(100% - 1rem);
    pointer-events: none;
}

.player-min .time-slices-edit-helper-container {
    top: calc(32px + 0.5rem);
    bottom: 52px;
}

.time-slices-edit-helper-btn {
    display: inline-block;
    width: 24px;
    height: 24px;
    box-shadow: none;
    border: none;
    cursor: pointer;
    font-size: 22px;
    background: transparent;
    color: var(--theme-btn-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.time-slices-edit-helper-btn:disabled {
    opacity: 0.7;
    cursor: default;
}

.time-slices-edit-helper-btn:not(:disabled):hover {
    color: var(--theme-btn-hover-color);
}

.time-slices-table {
    user-select: text;
}
