/* Video player */

.video-player {
    background: var(--player-bg-color);
    color: var(--theme-fg-color);

    display: block;
    position: relative;
    overflow: hidden;

    width: 100%;
    height: 100%;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.video-scroller {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.video-player video {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}

.video-player audio {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    visibility: hidden;
}

.video-player.no-controls {
    cursor: none;
}

.video-player.full-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}

/* Scroll bar */

.video-scroller::-webkit-scrollbar {
    width: 5px;
    height: 3px;
}

.no-controls .video-scroller::-webkit-scrollbar {
    width: 0;
    height: 0;
}

/* Track */

.video-scroller::-webkit-scrollbar-track {
    background: #bdbdbd;
}

.no-controls .video-scroller::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */

.video-scroller::-webkit-scrollbar-thumb {
    background: #757575;
}

.no-controls .video-scroller::-webkit-scrollbar-thumb {
    background: transparent;
}
