# Binary files

backend/pmvd.exe
backend/pmvd

# Ignore temp files

backend/temp
backend/test.js

# Ignore data folders

backend/vault
backend/test-vault
backend/test-assets
backend/version.txt
backend/version.log

# Ignore .env

backend/.env

# Others

backend/TODO.txt
