# Binary files

personal-media-vault.exe
personal-media-vault
pmv.exe
pmv
backend
backend.exe

# Ignore temp files

temp
test.js

# Ignore data folders

vault
version.txt
version.log

# Ignore .env

.env

# Others

TODO.txt
