/* Base and common use styles */

*,
*::before,
*::after {
    box-sizing: border-box;
}

.bold {
    font-weight: bold;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.one-line {
    white-space: nowrap;
}

a,
a:visited {
    color: inherit;
}

.mr-1 {
    margin-right: 0.5rem;
}

.mt-1 {
    margin-top: 0.5rem;
}
