/* Custom scroll bar */

*::-webkit-scrollbar {
    width: 16px;
    height: 16px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background: #757575;
    border-radius: 8px;
    border: 4px solid transparent;
    background-clip: content-box;
}

*::-webkit-scrollbar-corner {
    background: transparent;
}
