/* Theme colors */

.main-layout.light-theme {
    background: #f9f9f9;
}

.light-theme {
    color: black;
    --theme-btn-hover-color: black;
    --theme-btn-color: rgba(0, 0, 0, 0.75);

    --theme-border-color: rgba(0, 0, 0, 0.1);

    --theme-option-hover-color: rgba(0, 0, 0, 0.1);
    --theme-option-selected-color: rgba(0, 0, 0, 0.2);

    --theme-fg-color: black;
    --theme-fg-color-opposite: white;
    --theme-bg-color: #f9f9f9;

    --modal-overlay-bg-color: rgba(0, 0, 0, 0.4);
    --modal-bg-color: white;
    --bar-bg-color: white;

    --modal-shadow: 0 16px 24px 2px rgb(0 0 0 / 14%), 0 6px 30px 5px rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(0 0 0 / 40%);

    --hover-color: rgba(0, 0, 0, 0.1);
    --selected-color: rgba(0, 0, 0, 0.2);

    --input-bg-color: white;

    --switch-color: black;
    --switch-shadow-color: rgba(255, 255, 255, 0.33);
    --switch-disabled-color: lightgray;
    --switch-enabled-color: red;

    --player-bg-color: white;
    --player-controls-background: rgba(255, 255, 255, 0.2);
    --player-loader-background: rgba(255, 255, 255, 0.3);
    --player-editor-background: rgba(255, 255, 255, 0.9);
    --player-feedback-background: rgba(255, 255, 255, 0.5);
    --player-tooltip-background: rgba(255, 255, 255, 0.75);
    --player-menu-background: rgba(255, 255, 255, 0.8);

    --player-timeline-bg: rgba(0, 0, 0, 0.25);
    --player-timeline-buffer: rgba(0, 0, 0, 0.5);
    --player-timeline-current: red;
    --player-timeline-split: white;

    --volume-bar-bg: rgba(0, 0, 0, 0.25);
    --placeholder-no-thumbnail-color: rgba(0, 0, 0, 0.5);
    --progress-bar-bg: rgba(0, 0, 0, 0.3);
    --progress-bar-bg-success: rgba(0, 255, 0, 0.3);
    --progress-bar-bg-error: rgba(255, 0, 0, 0.3);

    --bg-opaque-25: rgba(255, 255, 255, 0.25);
    --bg-opaque-50: rgba(255, 255, 255, 0.5);
    --bg-opaque-75: rgba(255, 255, 255, 0.75);
    --bg-opaque-100: white;

    --search-input-border-color: hsl(0, 0%, 18.82%);
    --search-input-background: #f8f8f8;
    --search-input-inner-background: white;
    --search-suggestions-background: rgba(255, 255, 255, 0.8);
}

.main-layout.dark-theme {
    background: #181818;
}

.dark-theme {
    color: white;

    --theme-btn-hover-color: white;
    --theme-btn-color: rgba(255, 255, 255, 0.75);

    --theme-border-color: rgba(255, 255, 255, 0.1);

    --theme-option-hover-color: rgba(255, 255, 255, 0.1);
    --theme-option-selected-color: rgba(255, 255, 255, 0.2);

    --theme-fg-color: white;
    --theme-fg-color-opposite: black;
    --theme-bg-color: #181818;

    --modal-overlay-bg-color: rgba(0, 0, 0, 0.4);
    --modal-bg-color: #212121;
    --bar-bg-color: #212121;

    --modal-shadow: 0 16px 24px 2px rgb(0 0 0 / 14%), 0 6px 30px 5px rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(0 0 0 / 40%);

    --hover-color: rgba(255, 255, 255, 0.1);
    --selected-color: rgba(255, 255, 255, 0.2);

    --input-bg-color: hsl(0, 0%, 7%);

    --switch-color: white;
    --switch-shadow-color: rgba(0, 0, 0, 0.33);
    --switch-disabled-color: gray;
    --switch-enabled-color: red;

    --player-bg-color: black;
    --player-controls-background: rgba(0, 0, 0, 0.2);
    --player-loader-background: rgba(0, 0, 0, 0.3);
    --player-editor-background: rgba(0, 0, 0, 0.9);
    --player-feedback-background: rgba(0, 0, 0, 0.5);
    --player-tooltip-background: rgba(0, 0, 0, 0.75);
    --player-menu-background: rgba(0, 0, 0, 0.8);

    --player-timeline-bg: rgba(255, 255, 255, 0.25);
    --player-timeline-buffer: rgba(255, 255, 255, 0.5);
    --player-timeline-current: red;
    --player-timeline-split: rgba(0, 0, 0, 0.5);

    --volume-bar-bg: rgba(255, 255, 255, 0.25);
    --placeholder-no-thumbnail-color: rgba(255, 255, 255, 0.5);
    --progress-bar-bg: rgba(255, 255, 255, 0.3);
    --progress-bar-bg-success: rgba(0, 255, 0, 0.3);
    --progress-bar-bg-error: rgba(255, 0, 0, 0.3);

    --bg-opaque-25: rgba(0, 0, 0, 0.25);
    --bg-opaque-50: rgba(0, 0, 0, 0.5);
    --bg-opaque-75: rgba(0, 0, 0, 0.75);
    --bg-opaque-100: black;

    --search-input-border-color: hsl(0, 0%, 18.82%);
    --search-input-background: hsla(0, 0%, 100%, 0.08);
    --search-input-inner-background: hsl(0, 0%, 7%);
    --search-suggestions-background: rgba(0, 0, 0, 0.8);
}
