.search-results {
    display: flex;
    flex-direction: column;
}

.search-results:focus {
    outline: none;
}

.search-results-loading-display {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    user-select: none;
}

.search-results-final-display {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    user-select: none;
}

.search-result-item {
    width: calc(100% / var(--page-items-fit));
    padding: 18px;
    text-decoration: none;
    color: inherit;
}

.items-size-small .search-result-item {
    min-width: 116px;
    max-width: 232px;
    padding: 12px;
}

.items-size-normal .search-result-item {
    min-width: 232px;
    max-width: 348px;
}

.items-size-big .search-result-item {
    min-width: 348px;
    max-width: 464px;
    padding: 24px;
}

.items-fit-many .search-result-item {
    width: 0;
}

@media (max-width: 116px) {
    .items-size-small .search-result-item {
        min-width: 100%;
    }
}

@media (max-width: 232px) {
    .items-size-normal .search-result-item {
        min-width: 100%;
    }
}

@media (max-width: 348px) {
    .items-size-big .search-result-item {
        min-width: 100%;
    }
}

.search-result-item:focus-visible {
    outline: none;
    opacity: 0.7;
}

.search-result-item.current {
    border: solid 2px var(--theme-fg-color);
}

.search-result-item:visited {
    color: inherit;
}

.search-result-item.clickable {
    cursor: pointer;
}

.search-result-item.clickable:hover {
    opacity: 0.7;
}

.search-result-thumb {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
}

.search-result-thumb-inner {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-result-thumb-inner {
    background: var(--hover-color);
}

.search-result-thumb .no-thumb {
    opacity: 0.7;
    font-size: 24px;
}

.search-result-thumb img {
    width: 100%;
    height: 100%;
}

.search-result-title {
    padding-top: 0.5rem;
    line-height: 22px;
    font-size: 14px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.search-results-msg-display {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0.7;
}

.search-results-msg-icon {
    font-size: 48px;
}

.search-results-msg-text {
    padding-top: 1rem;
    font-size: x-large;
}

.search-results-msg-btn {
    padding-top: 1rem;
}

.search-results-total {
    padding-top: 0.5rem;
    font-size: small;
    text-align: center;
}

.search-results-options {
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.search-results-option {
    width: 50%;
    padding: 0.5rem 24px 0.5rem 24px;
}

@media (max-width: 500px) {
    .search-results-option {
        width: 100%;
    }
}

.search-result-thumb-tag {
    position: absolute;
    background: var(--bg-opaque-75);
    color: var(--theme-fg-color);
    bottom: 0.5rem;
    right: 0.5rem;
    font-size: small;
    padding: 0.25rem;
    max-width: calc(100% - 1rem);
    overflow: hidden;
    text-overflow: ellipsis;
}
