/* Page settings styles */

.page-settings {
    display: flex;
    flex-direction: column;
}

.page-settings-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5rem 1rem;
}

.page-settings-label {
    flex: 1;
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
}

.page-settings-range {
    width: 16rem;
    padding-left: 1rem;
}

.page-settings-input {
    width: 8rem;
    padding-left: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.page-settings-toggle {
    height: 2rem;
}

.page-settings-btn-container {
    border-top: solid 1px var(--theme-border-color);
    padding-top: 1rem;
    padding-left: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
}

.page-settings-btn-container .btn {
    margin-right: 1rem;
    margin-bottom: 1rem;
}

@media (max-width: 600px) {
    .page-settings-row {
        flex-wrap: wrap;
    }

    .page-settings-label {
        width: 100%;
        flex: auto;
        padding-bottom: 0.5rem;
    }

    .page-settings-range {
        flex: 1;
    }

    .page-settings-input {
        justify-content: flex-start;
        width: fit-content;
    }
}

@media (max-width: 350px) {
    .page-settings-range {
        flex: auto;
        width: 100%;
        padding-bottom: 0.5rem;
    }

    .page-settings-input {
        width: 100%;
    }
}
