/* Page style */

.page-inner {
    width: 100%;
    height: calc(100% - 54px);
    overflow: auto;
    padding-bottom: 0.5rem;
}

.page-inner:focus,
.page-in-modal:focus {
    outline: none;
}

.page-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 54px;

    border-bottom: solid 1px var(--theme-border-color);
}

.page-title {
    font-size: 1.2rem;
    padding: 1rem;

    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.page-title i {
    margin-right: 0.5rem;
}

.page-header-btn {
    display: block;
    width: 48px;
    height: 48px;
    box-shadow: none;
    border: none;
    cursor: pointer;
    font-size: 24px;

    background: transparent;
    color: var(--theme-btn-color);
}

.page-header-btn:disabled {
    opacity: 0.7;
    cursor: default;
}

.page-header-btn:not(:disabled):hover {
    color: var(--theme-btn-hover-color);
}

.page-expand-btn,
.page-close-btn {
    display: none;
}

.layout-media-split .page-expand-btn,
.layout-media-split .page-close-btn {
    display: block;
}

.page-inner-padded {
    padding: 1rem;
}

.page-inner.hidden {
    display: none;
}

.search-continue-mark {
    padding: 0.5rem;
}

.page-option {
    display: block;
    padding: 0.5rem 1rem;
    min-width: 40px;
    min-height: 40px;
    box-shadow: none;
    border: solid 1px var(--theme-border-color);
    border-radius: 100vw;
    cursor: pointer;
    font-size: 16px;
    background: transparent;
    color: var(--theme-fg-color);
}

.page-option:hover {
    background: var(--hover-color);
}

.page-option.current,
.page-option.current:hover {
    background: var(--selected-color);
}
