/* Page style */

.page-inner {
    width: 100%;
    height: calc(100% - 54px);
    overflow: auto;
    padding-bottom: 0.5rem;
}

.page-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 54px;

    border-bottom: solid 1px var(--theme-border-color);
}

.page-title {
    font-size: 1.2rem;
    padding: 1rem;

    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.page-title i {
    margin-right: 0.5rem;
}

.page-header-btn {
    display: block;
    width: 48px;
    height: 48px;
    box-shadow: none;
    border: none;
    cursor: pointer;
    font-size: 24px;

    background: transparent;
    color: var(--theme-btn-color);
}

.page-header-btn:disabled {
    opacity: 0.7;
    cursor: default;
}

.page-header-btn:not(:disabled):hover {
    color: var(--theme-btn-hover-color);
}

.page-expand-btn,
.page-close-btn {
    display: none;
}

.layout-media-split .page-expand-btn,
.layout-media-split .page-close-btn {
    display: block;
}

.layout-media-split .page-title {
    width: calc(100% - 48px - 48px);
}

.page-title.kind-home {
    width: calc(100% - 48px - 48px);
}

.layout-media-split .page-title.kind-home {
    width: calc(100% - 48px - 48px - 48px);
}

.page-title.kind-albums {
    width: calc(100% - 48px - 48px);
}

.layout-media-split .page-title.kind-albums {
    width: calc(100% - 48px - 48px - 48px);
}

.page-title.kind-random {
    width: calc(100% - 48px - 48px);
}

.layout-media-split .page-title.kind-random {
    width: calc(100% - 48px - 48px - 48px);
}

.page-inner-padded {
    padding: 1rem;
}

.page-inner.hidden {
    display: none;
}

.horizontal-filter-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: solid 1px var(--theme-border-color);
}

.horizontal-filter-menu-item {
    color: var(--theme-fg-color);
    display: block;
    padding: 0.5rem;
    font-size: large;
    font-weight: bold;
    text-align: center;

    width: 33.33%;
    min-width: fit-content;

    text-decoration: none;
}

.horizontal-filter-menu-item:hover {
    background: var(--theme-option-hover-color);
}

.horizontal-filter-menu-item.selected,
.horizontal-filter-menu-item.selected:hover {
    background: var(--theme-option-selected-color);
}

.horizontal-filter-menu-item:visited {
    color: var(--theme-fg-color);
}

.search-continue-mark {
    padding: 0.5rem;
}
