/* Menu for paginated results - style */

.paginated-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0.5rem;
}

.paginated-menu-btn {
  display: block;
  padding: 0.5rem;
  min-width: 40px;
  min-height: 40px;
  box-shadow: none;
  border: none;
  border-radius: 100vw;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  background: transparent;
  margin: 0.5rem;
  color: var(--theme-fg-color);
}

.paginated-menu-btn:disabled {
  opacity: 0.7;
  cursor: default;
}

.paginated-menu-btn:hover {
  background: var(--hover-color);
}

.paginated-menu-btn:disabled:hover {
  background: none;
}

.paginated-menu-btn.current,
.paginated-menu-btn.current:hover {
  color: var(--theme-fg-color-opposite);
  background: var(--theme-fg-color);
}

.paginated-menu-btn.paginated-menu-btn-edge-extra {
  display:none;
}

.menu-min .paginated-menu-btn {
  display: none;
}

.menu-min .paginated-menu-btn.current,
.menu-min .paginated-menu-btn.paginated-menu-btn-edge-extra,
.menu-min .paginated-menu-btn.paginated-menu-btn-edge {
  display: block;
}

@media (max-width: 1000px) {
  .paginated-menu-btn {
    display: none;
  }

  .paginated-menu-btn.current,
  .paginated-menu-btn.paginated-menu-btn-edge-extra,
  .paginated-menu-btn.paginated-menu-btn-edge {
    display: block;
  }
}