/* Loader style */

@keyframes delayed-loader {
    0% {
        opacity: 0;
    }

    99% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    animation-name: delayed-loader;
    animation-duration: 0.33s;

    z-index: 300;

    background: var(--theme-bg-color);
}

.loading-delayed {
    animation-name: delayed-loader;
    animation-duration: 0.33s;
}

.loader-delayed-custom {
    animation-name: delayed-loader;
    animation-duration: 0.33s;
}

.loading-overlay.loading-overlay-fixed {
    position: fixed;
}

.loading-overlay.hidden {
    display: none;
}

.loading-overlay-loader {
    display: inline-block;
    position: relative;
    width: 120px;
    height: 120px;
    --loader-color: var(--theme-fg-color);
}

.loading-overlay-loader div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 110px;
    height: 110px;
    margin: 8px;
    border: 8px solid var(--loader-color);
    border-radius: 50%;
    animation: loading-overlay-loader 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: var(--loader-color) transparent transparent transparent;
}

@media (max-width: 400px) {
    .loading-overlay-loader {
        width: 48px;
        height: 48px;
    }

    .loading-overlay-loader div {
        width: 42px;
        height: 42px;
        margin: 4px;
        border: 4px solid var(--loader-color);
        border-color: var(--loader-color) transparent transparent transparent;
    }
}

.loading-overlay-loader div:nth-child(1) {
    animation-delay: -0.45s;
}

.loading-overlay-loader div:nth-child(2) {
    animation-delay: -0.3s;
}

.loading-overlay-loader div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes loading-overlay-loader {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.load-issues {
    padding: 1rem;
    text-align: center;
}

.thumb {
    width: 100%;
    height: 100%;
    position: relative;
}

.thumb-load {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--modal-overlay-bg-color);

    display: flex;
    justify-content: center;
    align-items: center;
}
