/* Forms */

.btn {
    display: inline-block;

    box-shadow: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: var(--theme-fg-color);
    background: transparent;
    border-radius: 100vw;
    padding: 12px 24px;
    white-space: nowrap;
}

.btn-sm {
    font-size: 12px;
}

.btn-xs {
    font-size: 10px;
}

.btn-mr {
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
}

.btn i {
    margin-right: 12px;
}

.btn:disabled {
    opacity: 0.7;
    cursor: default;
}

.btn:hover {
    opacity: 1;
}

.btn:disabled:hover {
    opacity: 0.7;
}

.btn-primary {
    border: solid 1px var(--theme-border-color);
}

.btn-primary:not(:disabled):hover {
    background: var(--hover-color);
}

.btn-danger {
    border: solid 1px rgba(255, 0, 0, 0.1);
}

.btn-danger:not(:disabled):hover {
    background: rgba(255, 0, 0, 0.1);
}

.form-group {
    padding-bottom: 0.75rem;
}

.form-group label {
    display: block;
    width: 100%;
    padding-bottom: 0.3rem;
}

.form-control {
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-clip: padding-box;

    max-width: 100%;

    border-radius: 0.25rem;
    transition:
        border-color 0.15s ease-in-out,
        box-shadow 0.15s ease-in-out;

    border: 1px solid var(--theme-border-color);
    color: var(--theme-fg-color);
    background: var(--input-bg-color);
}

.form-control:focus {
    border: 1px solid var(--theme-border-color);
    color: var(--theme-fg-color);
    background: var(--input-bg-color);
    outline: 0;
    box-shadow: 0 0 0 0.2rem var(--theme-border-color);
}

.form-control-full-width {
    width: 100%;
}

.form-control.form-textarea {
    resize: vertical;
    height: auto;
}

.form-control.form-textarea.no-resize {
    resize: none;
}

textarea.form-control::-webkit-resizer {
    background: var(--input-bg-color);
    color: var(--theme-fg-color);
}

.form-error {
    color: red;
}

.form-error-pt,
.form-group-pt {
    padding-top: 0.5rem;
}

.file-hidden {
    display: none;
}

.border-top {
    border-top: solid 1px var(--theme-border-color);
    padding-top: 1rem;
}

.adv-search-form {
    padding: 1rem;
}

.form-range {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 100%;
}

.form-range:focus {
    outline: none;
}

.form-range::-webkit-slider-runnable-track {
    background-color: var(--range-background-color);
    border-radius: 0.5rem;
    height: 0.5rem;
}

.form-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    /* Override default look */
    appearance: none;
    margin-top: -6.4px;
    /* Centers thumb on the track */
    background-color: var(--range-thumb-color);
    border-radius: 0.65rem;
    height: 1.3rem;
    width: 1.3rem;
}

.form-range:focus::-webkit-slider-thumb {
    outline: none;
}

.form-range::-moz-range-track {
    background-color: var(--range-background-color);
    border-radius: 0.5rem;
    height: 0.5rem;
}

.form-range::-moz-range-thumb {
    background-color: var(--range-thumb-color);
    border: none;
    /*Removes extra border that FF applies*/
    border-radius: 0.65rem;
    height: 1.3rem;
    width: 1.3rem;
}

.form-range::-moz-range-thumb {
    outline: none;
}

.pos-input-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.form-control-container {
    flex: 1;
}

.form-control-suffix {
    padding-left: 0.75rem;
    white-space: nowrap;
}

/* Password inputs */

.password-input {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.password-input .form-control {
    padding-right: 40px;
}

.password-input-hide-btn {
    position: absolute;
    right: 0;
    top: 0;
    width: 38px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    box-shadow: none;
    cursor: pointer;
    font-size: 18px;
    background: transparent;
    color: var(--theme-fg-color);
    mix-blend-mode: difference;
}

.password-input-hide-btn:disabled {
    opacity: 0.7;
    cursor: default;
}

.password-strength-indicator {
    padding-top: 0.3rem;
    padding-bottom: 0.5rem;
}

.password-strength-indicator-label {
    padding-top: 0.5rem;
    white-space: nowrap;
    overflow: hidden;
    font-size: small;
}

.password-strength-indicator-progress {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: solid 1px var(--progress-segment-border-color);
    width: 100%;
    height: 0.75rem;
    --segment-count: 16;
    overflow: hidden;
    border-radius: 0.25rem;
}

.password-strength-indicator-progress-segment {
    height: 100%;
    width: calc(100% / var(--segment-count));
}

.password-strength-indicator-progress-segment:not(:first-child) {
    border-left: solid 1px var(--progress-segment-border-color);
}

.password-strength-indicator-progress-segment.active {
    background-color: var(--progress-segment-color-very-weak);
}

.weak .password-strength-indicator-progress-segment.active {
    background-color: var(--progress-segment-color-weak);
}

.medium .password-strength-indicator-progress-segment.active {
    background-color: var(--progress-segment-color-medium);
}

.strong .password-strength-indicator-progress-segment.active {
    background-color: var(--progress-segment-color-strong);
}

.very-strong .password-strength-indicator-progress-segment.active {
    background-color: var(--progress-segment-color-very-strong);
}

.crypto-secure .password-strength-indicator-progress-segment.active {
    background-color: var(--progress-segment-color-crypto-secure);
}
