/* Horizontal menu */

.horizontal-filter-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: solid 1px var(--theme-border-color);
}

.horizontal-filter-menu.no-border {
    border-bottom: none;
}

.horizontal-filter-menu-item {
    color: var(--theme-fg-color);
    display: block;
    padding: 0.5rem;
    font-size: large;
    font-weight: bold;
    text-align: center;

    width: calc(33.33% - 0.5rem);
    margin: 0.25rem;

    border: solid 1px var(--theme-border-color);

    border-radius: 0.25rem;

    min-width: 1px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    text-decoration: none;
}

@media (max-width: 700px) {
    .horizontal-filter-menu-item {
        min-width: calc(50% - 0.5rem);
    }
}

@media (max-width: 400px) {
    .horizontal-filter-menu-item {
        min-width: calc(100% - 0.5rem);
    }
}

.horizontal-filter-menu.two-child .horizontal-filter-menu-item {
    width: calc(50% - 0.5rem);
}

.horizontal-filter-menu.image-opts-menu .horizontal-filter-menu-item {
    width: calc(33.33% - 0.5rem);
}

.horizontal-filter-menu.image-opts-menu.can-write .horizontal-filter-menu-item:nth-last-child(-n + 4) {
    width: calc(25% - 0.5rem);
}

.horizontal-filter-menu.video-opts-menu .horizontal-filter-menu-item {
    width: calc(25% - 0.5rem);
}

.horizontal-filter-menu.video-opts-menu.can-write .horizontal-filter-menu-item:nth-last-child(-n + 5) {
    width: calc(20% - 0.5rem);
}

.horizontal-filter-menu.audio-opts-menu .horizontal-filter-menu-item {
    width: calc(33.33% - 0.5rem);
}

.horizontal-filter-menu.audio-opts-menu.can-write .horizontal-filter-menu-item:nth-last-child(-n + 4) {
    width: calc(25% - 0.5rem);
}

.horizontal-filter-menu-item:hover {
    background: var(--theme-option-hover-color);
}

.horizontal-filter-menu-item.selected,
.horizontal-filter-menu-item.selected:hover {
    background: var(--theme-option-selected-color);
    border: solid 1px var(--theme-fg-color);
}

.horizontal-filter-menu-item:visited {
    color: var(--theme-fg-color);
}
