/* Tables */

.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    border-collapse: collapse;
}

.table th {
    padding: 0.75rem;
    vertical-align: top;
}

.table td {
    padding: 0.75rem;
    vertical-align: middle;
    border-top: 1px solid var(--theme-border-color);
}


.table.no-border th,
.table.no-border td {
    border-top: none;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid var(--theme-border-color);
}

.table tbody + tbody {
    border-top: 2px solid var(--theme-border-color);
}

.table.no-border thead th {
    border-bottom: none;
}

.table.no-border tbody + tbody {
    border-top: none;
}

.table.table-vmiddle td {
    vertical-align: middle;
}

.table-btn {
    display: inline-block;
    width: 32px;
    height: 32px;
    box-shadow: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    background: transparent;
    color: var(--theme-btn-color);
}

.table-btn:disabled {
    opacity: 0.7;
    cursor: default;
}

.table-btn:not(:disabled):hover {
    color: var(--theme-btn-hover-color);
}

.td-shrink {
    width: 1px;
}

.tr-align-middle td {
    vertical-align: middle;
}

/* Custom style for keyboard shortcuts table */

.key-shortcut {
    font-weight: bold;
    background: var(--theme-bg-color);
    padding: 0.35rem;
}

.keyboard-help-table td {
    white-space: nowrap;
}
